body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #f4efe6;
  color: #222;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: #000;
}

header .logo {
  font-size: 1.8em;
  font-weight: bold;
  color: #f3e0b5; /* warmes Papier-Gelb */
}

header nav a {
  color: #f3e0b5;
  text-decoration: none;
  margin-left: 1em;
}

header nav a:hover {
  color: #9ed8f3; /* hellblauer Akzent */
}

nav a.active {
  color: #9ed8f3;
  font-weight: bold;
  border-bottom: 2px solid #9ed8f3;
}

main {
  max-width: 1200px;
  margin: 2em auto;
  padding: 2em;
  background-color: #fff;
  color: ;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

section{
scroll-margin-top:120px;
}

html{
scroll-behavior:smooth;
}

.sidebar a{
text-decoration:none;
color:#666;
transition:0.2s;
}

.sidebar a.active{
color:#000;
font-weight:bold;
border-left:3px solid #000;
padding-left:8px;
}

.layout{
display:flex;
gap:40px;
}

.sidebar{
width:120px;
position:sticky;
top:120px; /* Abstand vom oberen Rand */
height:fit-content;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
margin-bottom:10px;
}

.sidebar a{
text-decoration:none;
color:#333;
}

.sidebar a:hover{
text-decoration:underline;
}

.content{
flex:1;
}

.hero {
  text-align: center;
  margin-bottom: 2em;
}

.hero h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.works {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.work {
  background-color: #f3e0b5;
  padding: 1.5em;
  border-radius: 6px;
  margin-bottom: 2em;
}

.work-header {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  margin-bottom: 1em;
}

.work-header img {
  max-width: 150px;
  height: auto;
}

.work-header h3 {
  margin: 0;
}

.work-top {
  display: flex;
  gap: 2.5em;
  align-items: flex-start;
}

.work-image {
  flex: 0 0 400px;   /* feste Breite fürs Bild */
}

.work-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.work-meta {
  flex: 1;
}

.work-meta strong {
  color: #333;
}

.work-meta h2 {
  margin-top: 0;
  margin-bottom: 1em;
}

.work-meta p {
  margin: 0.3em 0;
}

.work-description {
  margin-top: 1.5em;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #f4efe6;
  color: #222;
}

footer .social span {
  margin: 0 0.5em;
  cursor: pointer;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
  header nav {
    margin-top: 0.5em;
  }
  .work {
    width: 100%;
  }
}
